section.footer
    nav.navbar.navbar-expand-lg.container
        .row
            .col
                ul.navbar-nav
                    li.nav-item.active
                        a.nav-link(href='#')
                            | Home
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='#') Shop
                    li.nav-item
                        a.nav-link(href='#') About
                    li.nav-item
                        a.nav-link(href='#') Contact
                    li.nav-item
                        a.nav-link(href='#') Maps
                //- ul.navbar-nav.mr-auto.mt-2.mt-lg-0
                //-     li.nav-item.active.list-inline-item
                //-         a.nav-link(href='#')
                //-             | Facebook
                //-     li.nav-item.list-inline-item
                //-         a.nav-link(href='#') Facebook
                //-     li.nav-item.list-inline-item
                //-         a.nav-link(href='#') Facebook
                //-     li.nav-item.list-inline-item
                //-         a.nav-link(href='#') Facebook
                //-     li.nav-item.list-inline-item
                //-         a.nav-link(href='#') Facebook
                //-     li.nav-item.list-inline-item
                //-         a.nav-link(href='#') Facebook